h4{
  color: #FF8264;
  font-family: Arial;
  font-size: 20px;
  line-height: .8em;
}

a:hover{
  text-decoration: none;
}

body{
  background-color: #F0DFD8;
}

main{
  font-family: Arial;
}

h1{
  text-decoration: underline;
  line-height: .6em;
  font-size: 35px;
  margin-left: 40px;
  display: inline;
  text-align: left;
}
h2{
  line-height: .6em;
  margin-left: 40px;
}

h3{
  line-height: .6em;
  font-size:17px;
  font-style: italic;
  margin-left: 40px;
}
p{
  font-size:15px;
  margin-left: 40px;
  margin-right: 40px;
}
#back{
  margin-left: 40px;
  margin-right:1000px;
  color:#FF8264;
  text-align: left;
  display: inline;
}
#index{
  float: right;
  display:inline;
}
#foreward{
  text-align: right;
  margin-right: 40px;
  display: inline;
}
#reference{
  font-size: x-small;
  margin-left: 40px;
}
img {
  margin-left: 40px;
}
footer{
  padding-top: 40px;
  padding-bottom: 10px;
}
