header{
  color: #FF8264;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 20px;
  line-height: .8em;
  max-height: 167px;
}

header img{
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 167px;
}
h4{
  z-index: 100;
}
#pad{
  padding: 1px;
}

a:hover{
  text-decoration: none;
}

body{
  background-color: #001929;
}

h1{
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 20px;
  padding-top: 25px;
  color: #FF8264;
}

h2{
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 20px;
  color: #FF8264;
  margin-top: 50px;

}

#image1{
vertical-align: top;
margin-right: 40px;
margin-left: 20px;
margin-bottom: 10px;
border: 10px solid black;
float:left;
width:30%;
height:40%;
border-radius: 50%;
display: inline-block;
margin-top: 40px;
}
#image2{
  height: 50px;
  width: auto;
  margin-right: 10px;
  margin-left: 515px;

}
#image3{
 height: 50px;
 width: auto;
 margin-right: 10px;

}
#image4{
 height: 50px;
 width: auto;
 margin-right:
}
p{
  font-family: Arial;
  font-size: 15px;
  margin-right: 20px;
  margin-left: 40px;
  color: white;
}
#links{
  display: inline;
}
#footer{
  text-align: center;
  font-size: 20px;
  clear:both;
  padding-bottom: 30px;
  padding-top:25px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  }
